<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>가계부</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
  <!-- <div class="container-fluid !direction !spacing p-0 m-0 px-1"> -->
  <div class="container-fluid m-0 p-0 sticky-top">
    <ul class="nav nav-tabs text-bg-success">
      <li class="nav-item">
        <a class="nav-link" href="/year/<%=year%>">Home</a>
      </li>
      <% for (var i=1; i<=12; i++) { %>
      <li class="nav-item">
        <% if (mm == i) { %>
          <a class="nav-link active" aria-current="page" href="/year/<%=year%>/mm/<%=i%>"><%= i%>월</a>
        <% } else { %>
        <a class="nav-link" href="/year/<%=year%>/mm/<%=i%>"><%= i%>월</a>
        <% } %>
      </li>
      <% } %>
    </ul>
    <div class="row text-center text-bg-dark border-2 border-secondary fw-bolder m-0 p-0">
      <div class="col-2 border-end">Date</div>
      <div class="col-2 border-end">Contents</div>
      <div class="col-2 border-end">Expenses</div>
      <div class="col border-end"></div>
      <div class="col border-end"></div>
      <div class="col-3 border-end">Remark</div>
      <div class="col"></div>
    </div>
  </div>

  <div class="container-fluid m-0 p-0" data-bs-spy="scroll" data-bs-target="#accordionExample" data-bs-smooth-scroll="true" tabindex="0">
    <% 
      var dateId = "";
      for(var i=1; i<jsonObj.length; i++) {
        if(jsonObj[i].B.length > 0 && dateId != jsonObj[i].B.replaceAll("-","") && dateId.substring(6) != "24") {
          dateId = jsonObj[i].B.replaceAll("-","");
    %>
    <div class="row border-bottom m-0" id="<%= dateId %>">
    <%
        } else {
    %>
    <div class="row border-bottom m-0">
    <%
        }
    %>
      <div class="col-sm-2 m-0 px-1 border-start border-end text-center"><%=jsonObj[i].B%></div>
      <div class="col-sm-2 m-0 px-1 border-end"><%=jsonObj[i].C%></div>
      <div class="col-sm-2 m-0 px-1 border-end text-end"><%=jsonObj[i].D%></div>
      <div class="col-sm m-0 px-1 border-end"><%=jsonObj[i].E%></div>
      <div class="col-sm m-0 px-1 border-end"><%=jsonObj[i].F%></div>
      <div class="col-sm-3 m-0 px-1 border-end"><%=jsonObj[i].G%></div>
      <div class="col-sm m-0 px-1 border-end"><%=jsonObj[i].H%></div>
    </div>
    <% } %>
  </div> 

  <button class="btn text-success position-fixed top-50 start-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDate" aria-controls="offcanvasDate">
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
      <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
      <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
    </svg>
  </button>
<%
  var date = new Date(year, mm-2, 25);
  const firstDt = jsonObj[1].B.split("-");
  if (firstDt.length == 3) {
    date = new Date(firstDt[0], parseInt(firstDt[1])-1, firstDt[2]);
  }
  var weekIdx = 1, weekChgIdx = 0, weekCollapseShowIdx = 1;
  const today = new Date();
  const dayNm = ["일","월","화","수","목","금","토"];
  const dayCnt = [7,1,2,3,4,5,6];
%>
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasDate" aria-labelledby="offcanvasDateLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasDateLabel">날짜 바로가기</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="accordion" id="accordionExample">
        <%
          do {
            if (weekIdx != weekChgIdx) { //주가 변경되면 start
              weekChgIdx++;
        %>
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading<%=weekIdx%>">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%=weekIdx%>" aria-expanded="false" aria-controls="collapse<%=weekIdx%>">
              <%=weekIdx%>주
            </button>
          </h2>
          <div id="collapse<%=weekIdx%>" class="accordion-collapse collapse" aria-labelledby="heading<%=weekIdx%>" data-bs-parent="#accordionExample">
            <div class="nav-pills accordion-body p-0 mt-2">
        <%
            } //주가 변경되면 end
        %>
              <a class="nav-link m-0 p-0 ps-2 pb-3 <%= (today.toDateString()==date.toDateString())?'active fw-semibold':'fw-normal' %>" style="font-size:14px" href='<%= "#"+year+mm.padStart(2,"0")+String(date.getDate()).padStart(2,"0") %>'><%= date.toLocaleDateString("ko-KR")+"("+dayNm[date.getDay()]+")" %></a>
        <%
          date.setDate(date.getDate()+1);
          if (date.getDay() == 1) {//월요일이면 주를 변경함
            weekIdx++;
          }

          if (weekIdx != weekChgIdx) { //주가 변경되면 start     
        %>
            </div>
          </div>
        </div>
        <%
            } //주가 변경되면 end
          } while (date < new Date(year,mm-1,25))
        %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg sticky-bottom navbar-dark bg-success bg-opacity-75">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-house-heart text-success d-inline-block align-text-top" viewBox="0 0 16 16">
          <path d="M8 6.982C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.309 8 6.982Z"/>
          <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.707L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.646a.5.5 0 0 0 .708-.707L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
        </svg>
        지연's 가계부
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropup">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%=year%>년
            </a>
            <ul class="dropdown-menu">
              <%
              //const today = new Date();
              for (var i=2010; i <= today.getFullYear(); i++) {
              %>
              <li><a class="dropdown-item" href="/year/<%=i%>"><%=i%>년</a></li>
              <%
              }
              %>
            </ul>
          </li>
        </ul>
        <div class="d-flex" role="search">
          <div class="input-group dropup-center dropup me-2">
            <input class="form-control" type="search" placeholder="검색" aria-label="Search" id="iptSearch">
            <input type="hidden" id="hdnYear" value="<%=year%>">
            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
              옵션
            </button>
            <div class="dropdown-menu ms-5 p-4">
              <div class="form-check mb-3">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="">
                <label class="form-check-label" for="flexRadioDefault1">
                  전체
                </label>
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked value="C">
                <label class="form-check-label" for="flexRadioDefault2">
                  Contents
                </label>
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" value="G">
                <label class="form-check-label" for="flexRadioDefault3">
                  Remark
                </label>
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" value="D">
                <label class="form-check-label" for="flexRadioDefault4">
                  Expenses
                </label>
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault5" value="B">
                <label class="form-check-label" for="flexRadioDefault5">
                  Date
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault6" value="H">
                <label class="form-check-label" for="flexRadioDefault6">
                  Contents Code
                </label>
              </div>
            </div>
          </div>
          <button class="btn btn-outline-success" id="btnSearch" type="button">Search</button>
        </div>
      </div>
    </div>
  </nav>
  </script>
  <script src="/main.js"></script>  
</body>
</html>